<div class="modal is-active">
  <script>
    function myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sign Up</p>
    </header>
    <section class="modal-card-body">
      <form action="">
        <div class="field">
          <label for="" class="label">First Name</label>
          <div class="control has-icons-left">
            <input type="text" placeholder="First Name" class="input" required>
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="label">Last Name</label>
          <div class="control has-icons-left">
            <input type="email" placeholder="Last Name" class="input">
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="label">Email</label>
          <div class="control has-icons-left">
            <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="label">Password</label>
          <div class="control has-icons-left">
            <input type="password" placeholder="*******" class="input" required hidden>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="label">Confirm-Password</label>
          <div class="control has-icons-left">
            <input type="password" placeholder="*******" class="input" id="myInput" required>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="checkbox">
            <input type="checkbox" onclick="myFunction()">
            Remember me
          </label>
        </div>
        <div class="field">
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" onclick="load('signup', '#form')">Sign Up</button>
      <button class="button" onclick="closeModal()">Cancel</button>
    </footer>
  </div>
</div>